@use '../../node_modules/bootstrap/scss/bootstrap.scss' with 
(
   
    $primary: #AB7941,
    $secondary: #2A3643,

   
    $primary-text-emphasis: white,
    $body-color: #222222,

  
    $grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 820px,  
        lg: 1050px, 
        xl: 1200px,
        xxl: 1400px
    ),

    
    $border-radius: 12px,
    $border-radius-sm: 8px,
    $border-radius-lg: 20px,

    
    $h1-font-size: 3.5rem,
    $h2-font-size: 2.5rem,

   
    $font-family-base: ('Segoe UI', Tahoma, Geneva, Verdana, sans-serif),

  
    $enable-shadows: true,
    // Exemplu ce trebuie adăugat în SASS-ul tău Bootstrap (_custom.scss)
    $form-range-thumb-width: 1.5rem,
    $form-range-thumb-height: 1.5rem,
    $form-range-thumb-bg: var(--main-color),
    $form-range-track-bg: var(--dark-accent),
)
