body{
    --culoare-fundal: white;
    --margine-pagina: 100px;
    --culoare1: #F5E244;
    --culoare2: #F4B400;
    --culoare3: #EB8220;
    --culoare4: #F05B1D;
    --culoare5: #FF3A01;

    background-color: var(--culoare-fundal);

}

p{
    border: 1px solid var(--culoare-fundal);
}

main{
    margin-left: var(--margine-pagina);
    margin-right: var(--margine-pagina);
}

@media screen and (max-width:1200px){
    body{
    --margine-pagina: 80px;
    }
}

@media screen and (max-width:700px){
    body{
    --margine-pagina: 50px;
    }
}